<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlck8ZM8b8Fy20cS5ynbigqncnPK38cgs</string>
	<key>GCM_SENDER_ID</key>
	<string>311636204533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.asyncAndAwait</string>
	<key>PROJECT_ID</key>
	<string>madhack3-dc98b</string>
	<key>STORAGE_BUCKET</key>
	<string>madhack3-dc98b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311636204533:ios:db79bbb473d2388e7c1ebc</string>
</dict>
</plist>